footer.footer
    .container
        .footer__left
            include ../footer-nav/footer-nav
        .footer__right
            .footer__contacts__wrapper
                ul.footer__contacts
                    li.footer__contacts__item.footer__contacts__item_phone
                        a(href="tel:+74955555555") +7 (495) 555-55-55
                    li.footer__contacts__item.footer__contacts__item_address
                        a(href="") г. Москва, ул. Расплетина, 24
