section.pictures
    .container
        h1.pictures__heading Картины эпохи Возрождения
        .pictures__wrapper
            +picture('img/picture1.png', '«Рождение Венеры» Сандро Боттичелли', '2 000 000', '1 000 000', '')
            +picture('img/picture2.png', '«Тайная вечеря»  Леонардо да Винчи', '', '1 000 000', '')
            +picture('img/picture3.png', '«Сотворение Адама» Микеланджело', '6 000 000', '5 000 000', '')
            +picture('img/picture4.png', '«Урок анатомии» Рембрандт', '', '', 'sold')