// clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: block;
  }
  &:after {
    clear: both;
  }
}

@mixin centered($axis: 'both') {
  position: absolute;

  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }


}

// full-width list
@mixin list-justify {
  text-align: justify;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }
}

// fullscreen
@mixin fullscreen {
  height: 100vh;
  min-height: 650px;

  /* fix iOS bug not displaying 100vh correctly */
  /* ipad */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    height: 768px;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    height: 1024px;
  }
  /* iphone5 */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    height: 320px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    height: 568px;
  }
  /* iPhone 4 */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    height: 320px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    height: 480px;
  }
}

// centered
@mixin centered {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
}
// Flexbox
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

// rem
@function rem($px) {
  @return ($px / 16px) + 0rem
}

@mixin wide() {
  @media screen and (min-width: 1601px) {
    @content;
  }
}
@mixin desktop() {
  @media all and (min-width: 1200px) {
    @content;
  }
}
@mixin laptop() {
  @media all and (min-width: 992px) {
    @content;
  }
}
@mixin tablet() {
  @media all and (min-width: 768px) {
    @content;
  }
}
@mixin phone_large() {
  @media all and (min-width: 576px) {
    @content;
  }
}
@mixin phone_small() {
  @media all and (max-width: 576px) {
    @content;
  }
}

// fonts
@mixin merriweather-bold {
  font-family:'Merriweather-Bold';
}
@mixin merriweather-light {
  font-family:'Merriweather-Light';
}
@mixin merriweather-regular {
  font-family:'Merriweather-Regular';
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.d--none {
  display: none !important;
}

.lazy {
  opacity: 1 !important;
}

@mixin centered($axis: 'both') {
  position: absolute;

  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}