@font-face {
  font-family:'Bernier-Distressed';
  src: url('../fonts/bernier/BERNIERDistressed-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Bernier-Regular';
  src: url('../fonts/bernier/BERNIERRegular-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Bernier-Shade';
  src: url('../fonts/bernier/BERNIERShade-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Roboto-Bold';
  src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Roboto-Bolditalic';
  src: url('../fonts/roboto/Roboto-Bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Roboto-Light';
  src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Roboto-Medium';
  src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'FontAwesome-Web';
  src: url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'FontAwesome';
  src: url('../fonts/FontAwesome/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}