$main-brown: #403432;
$hover-brown: #776763;
$disable-brown: #C1B4B1;
$basket-brown: #5B3A32;

$font-color: #343030;
$search-form-color: #9F9F9F;
$search-form-focused-color: #343030;

$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);